@font-face{font-family: TrajanPro;src: url('.../fonts/Trajan Pro Regular.ttf') format('truetype');}
body{font-family: 'Roboto', sans-serif;color: #3f3d3d;}
.btn{border-radius: 0;}
/*----------- FIRST MENU--------------*/
.first-menu{background: #252525;color: #fff; font-size: 12px;}
.tel{margin-top: 10px;}
.tel i{margin-right: 5px;top: 2px;}
.info{margin-top: 10px;}
.info ul{padding:0;list-style:none;}
.info ul li{display: inline-block;margin-right: 10px;}
.info ul li a{color: #fff;padding: 0px 5px;
/*	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;*/
}
.info ul li a:hover{color:#ff6600;text-decoration: none;}
/*--------------CABECERA---------------*/

.logo p{font-family: 'TrajanPro', serif;letter-spacing: 10px;margin-bottom: -10px;}
h1{font-size: 27px; width: 200px;}
h1 a{color: #3f3d3d;}
.logo a:hover{text-decoration: none; }
.logo span{font-size: 12px; margin-left: 53px;font-weight: lighter;}
.logo span:before{width: 45px;content: '';border-top: 1px solid #3f3d3d;display: block;position: absolute;top: 59px;}
.logo span:after{width: 45px;content: '';border-top: 1px solid #3f3d3d;display: block;position: absolute;top: 59px;left: 158px;}
.registro{margin: 20px auto;}
.tit-register{font-size: 20px;font-weight: bold;}
.registro .input-group{width: 100%;}
.registro .input-group button{border: 0; background: none; padding: 2px 5px; margin-top: 2px; position: absolute;right: 9px; top:3px;color:#000;z-index: 4; }
.registro .form-control{border-radius: 0}
.registro form .btn{background:#ff6600;color: #fff;}
.registro .dropdown>a:hover{background:#e5e4e2;}
.register-boton{margin-bottom: 10px;}
.register-boton .dropdown{margin-right: 10px;}
.register-boton a{color:#3f3d3d;}
.registro .cart{margin-right: 25px; margin-top: 8px;}
.registro .cart i{margin-right: 10px;}
.registro .checkout .btn{background: #000;}
.registro .checkout .btn a{color: #fff;}
.registro .dropdown-menu{width: 250px;}


/*--------------MENU---------------*/
nav a, .navbar-brand{font-size: 12px;margin: auto 15px;}
nav li:hover, .navbar-header:hover{background: #ff0000;color: #fff;}
nav li:hover a, .navbar-header:hover a{color: #fff;}
nav li a:hover, .navbar-header a:hover{color: #fff;}
.navbar{border-radius: 0;}
.navbar-header{background-color: #E4E4E4;}
.navbar-default{border-color: #fff;}

/*--------------CONTENIDO---------------*/
section.productos article{margin-bottom: 20px;}

.productos-medio {
  margin: 1.5em 0;
}
.productos-top {
  margin: 1.5em 0;
}
.position-middle {
  float: left;
  width: 37.2%;
  padding: 0 12px;
}
.position-right1 {
  float: left;
  width: 31.33%;
}
.position-left1 {
  float: left;
  width: 31.33%;
}
.position-right {
  float: left;
  width: 34%;
}
.position-left {
  float: left;
  width: 66%;
}


.content-text {position: absolute;top: 215px;left: 160px;text-align: center;color: #fff;}
.content-text2 {position: absolute;top: 135px;left: 255px;text-align: center;color: #fff;}
.content-text3 {position: absolute;top: 215px;left: 50px;text-align: center;}
.content-text4 {position: absolute;top: 220px;left: 45px;text-align: center;color: #fff;}
.content-text5 {position: absolute;top: 175px;left: 65px;text-align: center;color: #fff;}
.content-text6 {position: absolute;top: 125px;left: 255px;text-align: center;color: #fff;}
.productos a{color: #fff;}
.content-text3 h2, .content-text4 h2, .content-text6 h2{font-size: 22px;}
.content-text3 .fa{font-size: 30px;margin-left: 110px;}
.content-text4 .fa{font-size: 30px;margin-left: 90px;}
.productos h2{font-family: 'Playfair Display', serif;}
section.productos article{font-weight: lighter;}
.square a {
  text-transform: capitalize;
  display: inline-block;
  padding: 6px 16px;
  font-size: 0.8725em;
  font-weight: 300;
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  background: none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.square a:hover{
  background:#ff6978;
  border:1px solid #ff6978;
}
/*--------------FINAL CONTENIDO---------------*/
/*-------------OFERTAS------------*/
.tit{margin: 20px auto 80px;}
.ofertas h2 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  border: 1px solid #e5e4e2;
  text-align: center;
  margin: auto;
  padding: 0.5em;
  width: 21%;
  background:#fff; 
  position: relative; bottom: -42px;display: block;
  z-index: 1;
}
.offer-text{text-align: center;border: 1px solid #333;padding-bottom: 20px;padding-top: 10px;color: #3f3d3d;}
.ofertas article a:hover .offer-text{background:#e5e4e2;border: 1px solid #e5e4e2;}
.ofertas h3{font-size: 15px;}
.ofertas p{font-size: 13px;}
.ofertas a:hover{text-decoration: none;}
/*-------------FINAL OFERTAS------------*/
/*-------------FOOTER------------*/
footer a{color: #3f3d3d;}
.footer-top{margin: 40px auto 20px;padding-top: 20px; padding-bottom: 10px; border-top: 1px solid #333; border-bottom: 1px solid #333;}
.social .fa{color: #3f3d3d; font-size: 30px;}
.social li{list-style: none; float: left; margin-right: 10px;}
.foot-tit{padding-top:10px;}
.form-inline .form-control{width: 350px;border-radius: 0;}
.footer-top form .btn{background: #000;color: #fff;width: 90px;}

.copyright{margin: 40px auto;}
.copyright p{margin-right: 60px;}
.footer-bottom ul{list-style: none;padding: 0;clear: both;}
.footer-bottom i{margin-right: 10px;font-size: }
.footer-bottom li{margin: 5px auto;}
.footer-bottom li a{font-size: 13px;}
.footer-bottom>div>div>div{margin-top: 40px;}
.contacto li{margin: 15px auto;}
.contacto .fa{font-size: 20px;}
.footer-bottom .btn{margin-left: 20px;margin-top: -7px;background: #e5e4e2;padding: 3px 20px;}
.footer-bottom .btn-default{background: #fff;margin-left: 10px;}
/*-------------FINAL FOOTER------------*/

@media (max-width: 1200px) {
	nav a, .navbar-brand{margin: auto 0px;}
  .productos h2{font-size: 24px;}
  .content-text {position: absolute;top: 150px;left: 110px;text-align: center;color: #fff;}
.content-text2 {position: absolute;top: 80px;left: 180px;text-align: center;color: #fff;}
.content-text3 {position: absolute;top: 160px;left: 35px;text-align: center;}
.content-text4 {position: absolute;top: 165px;left: 35px;text-align: center;color: #fff;}
.content-text5 {position: absolute;top: 125px;left: 60px;text-align: center;color: #fff;}
.content-text6 {position: absolute;top: 125px;left: 255px;text-align: center;color: #fff;}
.productos a{color: #fff;}
.content-text3 h2, .content-text4 h2, .content-text6 h2{font-size: 20px;}
.content-text3 .fa{font-size: 30px;margin-left: 80px;}
.content-text4 .fa{font-size: 30px;margin-left: 50px;}

}

@media (max-width: 992px){
  .logo{margin-top: 30px;}
	.logo span:before{top: 58px;}
	.logo span:after{top: 58px;}
  .list-product{margin-right: 95px; margin-top: 10px;}
  .form-inline .form-control{width: 240px;}
}

@media (max-width: 768px){
  nav li:hover, .navbar-header:hover{background: #E4E4E4;color: #fff;}
  .form-inline .form-control{width: 355px;}
  .registro{margin-top: 40px;}
  .footer-top .col-sm-6{width: 100%;}

  .footer-top .form-inline{float: left!important;}
  .footer-top form .form-group{float: left;}
  .footer-top form button{float: left;}
  .list-product{margin-top: 0;}
  .ofertas article{width: 50%;margin-bottom: 40px;}
  .ofertas h2{width: 35%;}
}

@media (max-width: 576px){
	article{width: 100%!important;}
	.pad-left{padding-right: 0;}
	.pad-right{padding-left: 0;}
	article img{margin: auto;}
  .copyright p{margin-right: 30px;}
  .logo span:before{top: 40px;}
  .logo span:after{top: 40px;}
  .list-product{clear:both;float: left!important;margin-right: 0;margin-top: 10px;}
  .ofertas article{width: 50%!important;}
}
@media (max-width: 480px){
    .form-inline .form-control{width: 100%;}
    .social ul{margin-left: -20px;}
    .ofertas h2{width: 60%;}
    .stores{width: 100%;}
    .footer-bottom .btn{margin-left: 0; margin-bottom: 10px;}
    .tel{width: 100%; margin-top: 0;}
}
@media (max-width:320px){
    .ofertas article{width: 100%!important;}
 
}